
:root {
  --primary-color: black;
  --secondary-color: white;
  --background-light: #f2f2f2;
  --background-medium: #bcbaba;
  --background-dark: #6f6f6f;
  --font-size-base: 16px;
  --spacing-base: 1rem;
  --accent-color: #ad8e02;
}

html {
  font-size: var(--font-size-base);
}

* {
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  .body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    background-color: blue;
  }
